* {
  font-family: "Naruto";
}

html,
body {
  background-image: url("./cover.jpg");
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Naruto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Naruto";
}

@font-face {
  font-family: "Naruto";
  src: url("./yumaro.regular.otf");
}
